@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
:root{
--primary-color :           #3C7061;
--primary-lightest-color :  #FBFFFE;
--primary-light-color :     #88AFA3;
--primary-dark-color :      #164436;
--primary-darkest-color :   #000403;
--secondary1-color:         #564374;
--secondary1-lighest-color: #FCFBFF;
--secondary1-light-color:   #9D90B4;
--secondary1-dark-color:    #2B1B46;
--secondary1-darkest-color: #020105;
--secondary2-color:         #AAAA5B;
--secondary2-lightest-color:#FFFFFB;
--secondary2-light-color:   #FFFFC6;
--secondary2-dark-color:    #666622;
--secondary2-darkest-color: #070700;
}

body{
    background-color: var(--primary-darkest-color);
    color:white;
    font-family: 'Modern Antiqua', cursive;
    font-size: 14pt;
}
#page{
    background-color: var(--primary-darkest-color);
    margin: auto;
    display: flex;
    height: 97vh;
    max-width: 900px;
    flex-direction: column;
    text-align: center;
}
#page > *{
    padding:0.5em;
}
header{
    background-color: var(--primary-dark-color);
    height: 2em;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.beholderName{
    color: var(--secondary2-light-color);
}

.status{
    color: var(--secondary2-color);
    margin-right: 0.5em;
}
.material-icons{
    font-size: 22pt;
    margin-right: 1em;
}
#imgDisplay{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#imgDisplay > img{
    max-width: 70%;
}
#statsBar{
    background-color: var(--primary-dark-color);
    height:3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#displayText{
    color:var(--secondary2-light-color);
    background-color: var(--primary-color);
    max-height: 6em;
    min-height: 6em;
}
#choices{
    background-color: var(--primary-color);
    /*border-top: 3px solid var(--primary-dark-color);*/
    min-height: 6em;
    max-height: 6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 20px;
}
#choices>*{
    font-family: 'Modern Antiqua', cursive;;
    font-size: 12pt;
    color: var(--secondary2-light-color);
    background-color: var(--secondary2-color);
    border: var(--primary-dark-color) 3px solid;
    border-radius: 6px;
    height: 3em;
    max-width: 50%;
    flex-grow: 1;
}#choices>*:hover {
    background-color: var(--secondary1-light-color); /* Green */
    color: var(--secondary1-lighest-color);
  }